.card-panel-waiting {
    padding-bottom: 15px !important;
    margin: 2.5rem 0 -5rem 0 !important;
    border-radius: 2px;
    background-color: #fff;
    font-family: 'Amatic SC', cursive;
}

.video-message{
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 40px;
    font-family: 'Handlee', cursive;
    font-size: 18px;
    color: #9575cd;
    text-align: center;
}

.z-depth-1{
    box-shadow: none !important;
}

.card-message{
    font-size: 24px;
}

.title-back-home{
    font-family: 'Handlee', cursive;
    color: #7e7f80;
    font-size: 18px;
    text-align: left;
    margin-left: 20px !important;
    margin-top: 0 !important;
    
}
.waiting-container{
    margin-top: 50px !important;
}
.video-container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.icon-exit{
    margin-left: 0 !important;
    
}

.video{
    margin-top: -100px !important;
    
}

.button-home{
    position: fixed !important;
    bottom: 0 !important;
}


@media screen and (min-width:640px) {
    .card-panel-waiting{
        width: 100%;
    }
    .video-container {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .icon-exit{
        margin-left: 0 !important;
    }
    .title-back-home{
        margin-left: 0px !important;
        text-align: center;
    }
    .button-home-exit{
        margin-top: 10px !important;
    }
    .button-text{
        margin-top: 5px !important;
    }
}

