@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Handlee&display=swap');

.message {
    margin-bottom: 0;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0;
}



.card-panel{
    font-family: 'Handlee', cursive;
    font-weight: 900;
    margin-top: 0;
}

.collection {
    border-color: #64b5f6 white;
}

.icon-exit{
    padding: 0;
}
.links-info {
    font-family: 'Handlee', cursive;
    color: #7E7F80 !important;
    border-color: #64b5f6 white !important;
}
.row .col.s12{
    padding: 0;
}

