.login {
    font-family: 'Handlee', cursive;
}
.title {
    margin-top: 8vh;
    font-family: 'Amatic SC', cursive;
}
input [type="text"] {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.input-field-row {
    margin-top: 12vh;
}
.display-password:focus {
    background-color: transparent!important;
  }
